h1 {
  color: green;
}

.rootContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.form {
  align-items: center;
  margin-top: 25px;
}

.button {
  margin-left: 20px;
}

.personList {
  margin-right: 5px;
}

.error {
  color: rgb(167, 0, 153);
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.addedPerson {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.deletePerson {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.updatePerson {
}
